html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.letters-div {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
}

.letter-card-link {
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    padding-top: 20px;
    color: black;
    background-color: ivory;
    text-decoration-line: none;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    transition: transform 0.2s;
}

a.letter-card-link:hover {
    transform: translate(10px, 10px);
}

.letter-card-Letter {
    font-size: 64px;
    margin-left: 30px;
}

.letter-card-desc {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.desc-letter-block {
    
    display: inline-flex;
    flex-direction: row;
    letter-spacing: 150px;
    margin-left: 100px;
}

.desc-letter {
    font-size: 256px;
}

.desc-description {
    font-size: 32px;
}

.desc-font-1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 1;
}

.desc-font-2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.8;
}

.desc-font-3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.6;
}

.desc-font-4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.4;
}

.desc-font-5 {
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.2;
}

.desc-font-6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.2;
}

.test {
    background-color: aqua;
    color: aqua;
}