@model LettersListVM
@{
    ViewData["Title"] = "ListView";
}

@foreach (LetterModel c in Model.dbContext.Letters)
{
    <div class="letters-div">
        <a class="letter-card-link" asp-area="" asp-controller="Letters" asp-action="Letter" asp-route-letter="@c.Letter">
            <p class="letter-card-Letter">@c.Letter</p>
            <p class="letter-card-desc">@c.Description</p>
        </a>
    </div>
}

<div class="letters-div">
    <a class="letter-card-link" asp-area="" asp-controller="Letters" asp-action="Add">
        <p class="letter-card-add-plus text-center">+</p>
        <p class="letter-card-add-desc text-center">Add letter card</p>
    </a>
</div>