@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>
<div>
    <p>
        This is website about LETTERS! How about funny letters?
    </p>
    <p>
        How about funny letters?
    </p>
</div>
